# Add README, LICENSE and requirements :
include README.rst
include LICENSE
include requirements.txt

# Add brain templates and eeg reference file :
recursive-include visbrain/brain/base/templates *.npz
include visbrain/visuals/eegref.npz

# Add visbrain icons :
include visbrain/brain/brain_icon.svg
include visbrain/sleep/sleep_icon.svg
include visbrain/topo/topo_icon.svg
include visbrain/colorbar/colorbar_icon.svg
include visbrain/figure/figure_icon.svg
